.ipynb_checkpoints/
.DS_Store
.vscode/

egg-info/
*.egg-info/
*.egg/
*.egg-info/
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

*.pth
*.h5
*.ckpt
*.npz
*.zip
*.err
*.out
lightning_runs/
wandb/
lightning_logs/

experiments/
evaluation_results/
npz_to_h5_converter.py
slurm_outputs/

ckpt_to_pth.py
convert_checkpoint.py
run_sample.py